
@{
    ViewData["Title"] = "Sign Up";
}

<h1>Create your Hauʻoli Koʻo Profile</h1>
<p>
    Please enter your information
    <div style="display: inline-block;">
        <form action="/action_page.php">
            Name<br />
            <label for="fname">First name:</label><br />
            <input type="text" id="fname" name="fname" placeholder="Israel"><br />
            <label for="lname">Last name:</label><br />
            <input type="text" id="lname" name="lname" placeholder="Kamakawiwo'ole"><br />
            <label for="pname">Preferred name/nickname:</label><br />
            <input type="text" id="pname" name="pname" placeholder="Braddah Iz">
        </form>
    </div>
    <div style="display: inline-block;">
        Contact Information<br />
        <label for="pnum">Phone number:</label><br />
        <input type="text" id="pnum" name="pnum" placeholder="123-456-7891" pattern="[0-9]{3}-[0-9]{3}-[0-9]{3}"><br />
        <label for="email">Email:</label><br />
        <input type="text" id="email" name="email" placeholder="braddahizaloha@gmail.com"><br />
        <label for="smedia">Social media:</label><br />
        <input type="text" id="smedia" name="smedia" placeholder="instagram.com/braddahisraelk">
    </div>
    <div style="display: inline-block;">
        Business Information<br />
        <label for="bname">Business/store name:</label><br />
        <input type="text" id="bname" name="bname" placeholder="Hawaiian Supahcutz"><br />
        <label for="bnum">Business/store phone number:</label><br />
        <input type="text" id="bnum" name="bnum" placeholder="123-456-7891" pattern="[0-9]{3}-[0-9]{3}-[0-9]{3}"><br />
        <label for="baddress">Address:</label><br />
        <input type="text" id="baddress" name="baddress" placeholder="123 Lunalilo Fwy "><br />
        <label for="b2address">Address (line 2):</label><br />
        <input type="text" id="b2address" name="b2address" placeholder="Ste #3"><br />
        <label for="city">City:</label><br />
        <input type="text" id="city" name="city" placeholder="Kaimuki"><br />
        <label for="state">State:</label><br />
        <input type="text" id="state" name="state" placeholder="HI" pattern="[A-Z]{2}"><br />
        <label for="zcode">Zip Code:</label><br />
        <input type="text" id="zcode" name="zcode" placeholder="96814" pattern="[0-9]{5}"><br />
    </div>
    <div style="display: inline-block;">
        Username & Password<br />
        <label for="uname">Email address:</label><br />
        <input type="text" id="uname" name="uname" placeholder="braddahizaloha@gmail.com"><br />
        <label for="pword">Password:</label><br />
        <input type="password" id="pword" name="pword" placeholder="H@waii78"><br />
        <label for="cword">Confirm Password:</label><br />
        <input type="password" id="cword" name="cword" placeholder="H@waii78"><br />
    </div>
 <br /><br>
    <input type="submit" value="Submit">
 </p>
