@{
    ViewData["Title"] = "Home Page";
}
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
        </head>
        <body style="background-color:#66e0ff">
            <div class="text-center" style="font-family:'Lobster', cursive;">
                <h1>
                    Aloha and welcome to Hauʻoli Koʻo!<br />
                    The digital assistant created to help you thrive!
                </h1>
                <br />
                <h2>
                    Hauʻoli Koʻo (Hawaiian for "happy helper") is the beauty industry's hottest new business management solution!
                    The Happy Helper was created for beauty professionals, by a beauty professional.<br /><br />
                </h2>
            </div>
            <head>
                <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap" rel="stylesheet">
            </head>
                <div class="rounded" style="font-family:'Noto Sans', sans-serif;">
                    <div class="jumbotron" style="background-color:#e6faff;">
                        <h2 class="text-center">
                            Main Features/Benefits*
                        </h2>
                        <br />
                        <h3 class="text-center">
                            Show Your Skills
                        </h3>
                        <p class="text-center">
                            Create a personal profile for clients to view!
                            Complete with your contact information, a service menu/price sheet, a photo gallery and more to showcase all you work.
                            Invite your clients to leave a personal reciew to be featured on your profile.
                        </p>
                        <h3 class="text-center">
                            Communicate
                        </h3>
                        <p class="text-center">
                            Store personal and service info for each client, such as favorite products or hair goals to ensure you are always on the same page as your clients.
                            Keep notes updated so you will always be giving the best service possible.
                        </p>
                        <h3 class="text-center">
                            Stay On Track
                        </h3>
                        <p class="text-center">
                            Planning your day just got easier with our appointment reminder service and inventory tracker.
                            Opt in to receive custom service reminders and even send notes and reminders to your clients before their appointment.
                            Keep track of products in stock with our inventory tracker to ensure a streamlined and efficient service time.
                        </p>
                    </div>
                </div>
                <div>
                    <h6>*Website is still under construction. Some features may not be available yet</h6>
                </div>
</body>