@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1>
            Aloha and welcome to Hauʻoli Koʻo! 
            The Happy Helper created to help you thrive!
        </h1>
        <br />
        <h4>
            Hauʻoli Koʻo (Hawaiian for "happy helper") is the beauty industry's hottest new business management solution! 
            Created for beauty professionals, by beauty professionals.
        </h4>
        <br />
        <h2>
            Main Features/Benefits
        </h2>
        <br />
        <h3>
            Show Your Skills
        </h3>
        <p>
            Create a personal profile for clients to view! 
            Complete with your contact information, a service menu/price sheet, a photo gallery and more to showcase all you work. 
            Invite your clients to leave a personal reciew to be featured on your profile.
        </p>
        <h3>
            Communicate
        </h3>
        <p>
            Store personal and service info for each client, such as favorite products or hair goals to ensure you are always on the same page as your clients.
            Keep notes updated so you will always be giving the best service possible.
        </p>
        <h3>
            Stay On Track
        </h3>
        <p>
            Planning your day just got easier with our appointment reminder service* and inventory tracker. 
            Opt in to receive custom service reminders and even send notes and reminders to your clients before their appointment. 
            Keep track of products in stock with our inventory tracker to ensure a streamlined and efficient service time.
        </p>
        <br /><br /><br />
                    <h6>*Feature is intended to be included in the final product, but subject to change</h6>
    </div>
